table {
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}


td {
    text-align: center;
    border: 1px solid #ddd;
}


th, td {
    height: 40px;
}

td.horario {
    background-color: #f2f2f2;
}


tfoot td {
    background-color: #4CAF50;
    color: white;
    text-align: center;

}
